//--------------------------------------------------------
// ui colors
//--------------------------------------------------------

// primary
$ui-primary-main: #0098ff;

// secondary
$ui-secondary-main: #ff7c75;

// text decoration colors
$ui-text-dark: #3F3F3F;
$ui-text-light: #f6f6f6;

// additional colors
$ui-white: #ffffff;
$ui-grey-lighter: #f7f7f7;
$ui-grey-light: #c4c4c4;
$ui-black: #000000;
$ui-black-light: #353840FF;
$ui-blue-light: #d0e0f3;
$ui-blue-white: #fafdff;


//--------------------------------------------------------
// dimensions
//--------------------------------------------------------

// desktop
$dimension-desktop: 1024px;

// mobile
$dimension-mobile-small: 480px;
$dimension-mobile: 768px;
$breakpoint-desktop-medium: 1200px;
