@import "src/styles/tokens";

.TokenPropertyItem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $ui-blue-light;
  border: 1px solid $ui-primary-main;
  border-radius: 6px;
  padding: 20px;
  margin: 5px;
  width: 181px;

  .type {
    color: $ui-primary-main;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .name {
    color: $ui-black-light;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
